body{
  background-color:#F3F2EF;
  color: black;
  font-size: 25px;

  }
  .navbar{
    background-color: white;
  }
  .pp h2 {
    margin-top:-79px ;
    margin-left: 60px;
  }
  .pp h5 {
    margin-top:-33px ;
    margin-left: 40px;
  }
  .list{
    border-radius: 10px;
  }
  .dark-mode {
    background-color: black;
    color: black;
  }